/* Título principal */
h1 {
    color: #8BC34A; /* Verde claro para el título */
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center; /* Centrado para hacerlo más prominente */
    text-transform: uppercase; /* Títulos en mayúsculas para un toque formal */
}